<ul class="specific-place">
  <div class="place_wrap_buttons">
    <a href="/">{{localText.homePage}}</a>
    <a href="/{{lang}}/events">{{localText.backList}}</a>
  </div>
  <img src="{{event.imageUrl}}" alt="{{localText.image}}"></img>

  <li>{{localText.name}}:
    {{event.local.name}}
  </li>

  {{#if event.local.description}}
    <li>{{localText.description}}:
      {{event.local.description}}
    </li>
  {{/if}}

  {{#if event.place.local.name}}
    <li>{{localText.eventsPlace}}:
      {{event.place.local.name}}
    </li>
  {{/if}}

  {{#if event.startTime}}
    <li>{{localText.eventStart}}:
      {{event.startTime}}
    </li>
  {{/if}}

  {{#if event.endTime}}
    <li>{{localText.eventEnd}}:
      {{event.endTime}}
    </li>
  {{/if}}

  {{#if event.cost}}
    <li>{{localText.eventsCost}}:
      {{event.cost}}
    </li>
  {{/if}}

  {{#if event.accessibilityOptions}}
    <li>{{localText.accessibilityOptions}}:
      {{event.accessibilityOptions}}
    </li>
  {{/if}}

  <li>{{localText.categories}}:
    {{event.categories}}
  </li>

  <div class="place_wrap_buttons">
    <a href="/{{lang}}/edit-event/{{event._id}}">{{localText.edit}}</a>
    <a href="/{{lang}}/delete-event/{{event._id}}">{{localText.delete}}</a>
  </div>
</ul>
