{{>header}}
{{>options}}

<a class="f6 ma4 w4 tc grow no-underline br-pill ba bw1 pv2 dib mid-gray b gray" href="/{{lang}}/add-event">{{localText.add}}</a>
<div class="pa4">
  <div class="overflow-auto tc">
    <table class="f6 w-100 mw8 center bb b--turquoise bw2" cellspacing="0">
      <span id="error-container" class="red b"></span>
      <thead>
        <tr class="ma2">
          <th class="fw6 tl pa3 w-25">
            {{#if event.imageUrl}}
              <img src="{{event.imageUrl}}" alt="{{localText.image}}">
            {{else}}
              <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="{{localText.image}}">
            {{/if}}
          </th>
          <th class="f1 tc dark-text">{{event.local.name}}</th>
          <th>
              <a href="/{{lang}}/edit-event/{{event._id}}" class="f6 w4 grow no-underline br-pill ba bw1 pv2 mv2 db mid-gray b gray">{{localText.edit}}</a>
          <th>
            <a href="/{{lang}}/delete-event/{{event._id}}" class="f6 w4 grow no-underline br-pill ba bw1 ph4 pv2 mv2 pv2 db mid-gray b gray">{{localText.delete}}</a>
          </th>
          <th>
            <div id="verify-button" class="f6 w4 grow no-underline br-pill ba bw1 ph3 pv2 {{#if event.verified}} green {{else}} red {{/if}} mv2 db b pointer"> Verify {{#if event.verified}}✔️{{else}}✖️{{/if}}</div>
          </th>
          </th>
        </tr>
      </thead>
      <tbody class="">
        <tr class="">
          <td class="tr light-text f4 b pa3">{{localText.description}}:</td>
          <td class="tl light-text f4">{{event.local.description}}</td>
        </tr>
        <tr class="">
          <td class="tr light-text f4 b pa3">{{localText.eventsPlace}}:</td>
          <td class="tl light-text f4">
            <a href="/{{lang}}/place/{{event.place._id}}">
              {{event.place.local.name}}
            </a>
          </td>
        </tr>
        <tr class="">
          <td class="tr light-text f4 b pa3">{{localText.eventStart}}:</td>
          <td class="tl light-text f4">{{formatDate event.startTime}}</td>
        </tr>
        <tr class="">
          <td class="tr light-text f4 b pa3">{{localText.eventEnd}}:</td>
          <td class="tl light-text f4">{{formatDate event.endTime}}</td>
        </tr>
        <tr class="">
          <td class="tr light-text f4 b pa3">{{localText.eventsCost}}:</td>
          <td class="tl light-text f4">{{event.cost}}</td>
        </tr>
        <tr class="">
          <td class="tr light-text f4 b pa3">{{localText.accessibilityOptions}}:</td>
          <td class="tl light-text f4">{{translateProps event.accessibilityOptions localText.accOptions lang}}</td>
        </tr>
        <tr class="">
          <td class="tr light-text f4 b pa3">{{localText.categories}}:</td>
          <td class="tl light-text f4">{{translateProps event.categories localText.eventCategories lang}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script src="/verify.js" charset="utf-8"></script>
