 <ul>
  <h1 class="">{{localText.eventsTitle}}
  <div class="">
    <a href="/{{lang}}/add-event">{{localText.add}}</a>
  {{#each events}}
    <li class="">
      <img class="" src="{{this.imageUrl}}" alt="{{localtext.image}}">
      <div class="">
        <span class="">{{this.local.name}}</span>
        {{#if this.local.description}}
          <span class="">{{this.local.description}}</span>
        {{/if}}
        {{#if this.place}}
          <span class="">{{this.place.local.name}}</span>
        {{/if}}
      </div>
      <div class="">
        <a href="/{{../lang}}/event/{{_id}}">{{../localText.view}}</a>
        <a href="/{{../lang}}/edit-event/{{_id}}">{{../localText.edit}}</a>
        <a href="/{{../lang}}/delete-event/{{_id}}">{{../localText.delete}}</a>
      </div>
    </li>
  {{/each}}
</ul>
