<ul class="specific-place">
  <div class="place_wrap_buttons">
    <a href="/">{{localText.homePage}}</a>
    <a href="/{{lang}}/events">{{localText.backList}}</a>
  </div>
  <div class="{{event.imageUrl}}" alt="event image">
  </div>
  <li>{{localText.name}}:
    {{event.local.name}}
  </li>
  <li>{{localText.description}}:
    {{event.local.description}}
  </li>
  <li>{{localText.eventsPlace}}:
    {{event.place.local.name}}, {{event.place.local.description}}
  </li>
  <li>{{localText.eventStart}}:
  {{event.startTime}}
</li>
<li>{{localText.eventEnd}}:
  {{event.endTime}}
</li>
</ul>
