<form class="add-form" action="/{{lang}}/add-place" method="post">
  <h1>Add Place</h1>
  <label>{{localLang.placeName}}
    <input type="text" name="name" required>
  </label>

  <label>{{localLang.placeDescription}}
    <input type="text" name="description" required>
  </label>

  <label>{{localLang.placeAddress}}
    <input type="text" name="address" required>
  </label>

  <label>{{localLang.placeHours}}
    <input type="text" name="openingHours" required>
  </label>

  <label>{{localLang.formOwnerId}}
    <input type="text" name="ownerId">
  </label>

  <label>{{localLang.formImageUrl}}
    <input type="text" name="imageUrl" required>
  </label>

  <label>{{localLang.placeWebsite}}
    <input type="text" name="website" required>
  </label>

  <label>{{localLang.placePhone}}
    <input type="number" name="phone" required="">
  </label>

  <label>{{localLang.placeEmail}}
    <input type="email" name="email" required="">
  </label>

  <fieldset>
    <legend>{{localLang.placeAccessibility}}</legend>
    <div>
      <label for="braille">{{localLang.brailleMenu}}</label>
      <input id="braille" type="checkbox" name="accessibility" value="Braille">
    </div>
    <div>
      <label for="wheelchair">{{localLang.wheelchairFriendly}}</label>
      <input id="wheelchair" type="checkbox" name="accessibility" value="WheelChair access">
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localLang.placeCategories}}</legend>
    <div>
      <label for="cafe">{{localLang.cafe}}</label>
      <input id="cafe" type="checkbox" name="categories" value="cafe">
    </div>
    <div>
      <label for="restaurant">{{localLang.restaurant}}</label>
      <input id="restaurant" type="checkbox" name="categories" value="food and drink">
    </div>
  </fieldset>

  <input type="submit" value="{{localLang.formSubmit}}">
</form>
