{{>header}}
{{>options}}

<div class="tc w-100 pt5 mt2">
  <span class="dark-text">{{localText.formInfo}}</span>
</div>

<div class="tc w-100 mt2">
  <span class="red" id="PlaceErrorBox"></span>
</div>

{{#if edit}}
  <form id="EditPlaceForm" action="/{{lang}}/edit-place/{{place._id}}" method="post">
    <input type="hidden" name="_method" value="put">
{{else}}
  <form id="AddPlaceForm" action="/{{lang}}/add-place" method="post">
    <input type="hidden" name="_method" value="post">
{{/if}}
<table class="f6 w-100 mw8 center bb b--turquoise bw2">
  <tbody>
    <tr>
      <td class="w-20 dark-text f4 b pa3 tr">*{{localText.name}}</td>
      <td class="w-70">
          {{#if place.en.name}}
            <input class="input-reset w-70 br2 ba pa1 b--gray" type="text" name="name_en" value="{{place.en.name}}">
          {{else}}
            <input class="input-reset w-70 br2 ba pa1 b--gray dib" type="text" name="name_en" placeholder="{{localText.english}}">
          {{/if}}
      </td>
    </tr>
    <tr>
        <td class="w-20"></td>
        <td class="w-70">
          {{#if place.ar.name}}
            <input class="input-reset w-70 br2 ba pa1 b--gray" type="text" name="name_ar" value="{{place.ar.name}}">
          {{else}}
            <input class="input-reset w-70 br2 ba pa1 b--gray dib" type="text" name="name_ar" placeholder="{{localText.arabic}}">
          {{/if}}
        </td>
    </tr>
    <tr>
      <td class="w-20 dark-text f4 b pa3 tr">{{localText.description}}</td>
      <td class="w-70 pt3">
          {{#if place.en.description}}
            <textarea class="input-reset w-70 br2 ba pa1 b--gray" type="text" name="description_en">{{place.en.description}}</textarea>
          {{else}}
            <textarea class="input-reset w-70 br2 ba pa1 b--gray dib" type="text" name="description_en" placeholder="{{localText.english}}"></textarea>
          {{/if}}
      </td>
    </tr>
    <tr>
        <td class="w-20"></td>
        <td class="w-70">
          {{#if place.ar.description}}
            <textarea class="input-reset w-70 br2 ba pa1 b--gray" type="text" name="description_ar">{{place.ar.description}}</textarea>
          {{else}}
            <textarea class="input-reset w-70 br2 ba pa1 b--gray dib" type="text" name="description_ar" placeholder="{{localText.arabic}}"></textarea>
          {{/if}}
        </td>
    </tr>
    <tr>
      <td class="w-20 dark-text f4 b pa3 tr">{{localText.placeAddress}}</td>
      <td class="w-70">
          {{#if place.en.address}}
            <input class="input-reset w-70 br2 ba pa1 b--gray" type="text" name="address_en" value="{{place.en.address}}">
          {{else}}
            <input class="input-reset w-70 br2 ba pa1 b--gray dib" type="text" name="address_en" placeholder="{{localText.english}}">
          {{/if}}
      </td>
    </tr>
    <tr>
        <td class="w-20"></td>
        <td class="w-70">
          {{#if place.ar.address}}
            <input class="input-reset w-70 br2 ba pa1 b--gray" type="text" name="address_ar" value="{{place.ar.address}}">
          {{else}}
            <input class="input-reset w-70 br2 ba pa1 b--gray dib" type="text" name="address_ar" placeholder="{{localText.arabic}}">
          {{/if}}
        </td>
    </tr>
    <tr>
      <td class="w-20 dark-text f4 b pa3 tr">{{localText.placeHours}}</td>
      <td class="w-70">
          {{#if place.en.openingHours}}
            <input class="input-reset w-70 br2 ba pa1 b--gray" type="text" name="openingHours_en" value="{{place.en.openingHours}}">
          {{else}}
            <input class="input-reset w-70 br2 ba pa1 b--gray dib" type="text" name="openingHours_en" placeholder="{{localText.english}}">
          {{/if}}
      </td>
    </tr>
    <tr>
        <td class="w-20"></td>
        <td class="w-70">
          {{#if place.ar.openingHours}}
            <input class="input-reset w-70 br2 ba pa1 b--gray" type="text" name="openingHours_ar" value="{{place.ar.openingHours}}">
          {{else}}
            <input class="input-reset w-70 br2 ba pa1 b--gray dib" type="text" name="openingHours_ar" placeholder="{{localText.arabic}}">
          {{/if}}
        </td>
    </tr>
    <tr>
      <td class="w-20 dark-text f4 b pb3 ph3 pt1 tr">{{localText.placeWebsite}}</td>
      <td class="w-70">
          {{#if place.website}}
            <input class="input-reset w-70 br2 ba pa1 b--gray" type="text" name="website" value="{{place.website}}">
          {{else}}
            <input class="input-reset w-70 br2 ba pa1 b--gray dib" type="text" name="website">
          {{/if}}
      </td>
    </tr>
    <tr>
      <td class="w-20 dark-text f4 b pb3 ph3 pt1 tr">{{localText.placePhone}}</td>
      <td class="w-70">
          {{#if place.phone}}
            <input class="input-reset w-70 br2 ba pa1 b--gray" type="text" name="phone" value="{{place.phone}}">
          {{else}}
            <input class="input-reset w-70 br2 ba pa1 b--gray dib" type="text" name="phone">
          {{/if}}
      </td>
    </tr>
    <tr>
      <td class="w-20 dark-text f4 b ph3 pb3 pt0 tr">{{localText.placeEmail}}</td>
      <td class="w-70">
          {{#if place.email}}
            <input class="input-reset w-70 br2 ba pa1 b--gray" type="text" name="email" value="{{place.email}}">
          {{else}}
            <input class="input-reset w-70 br2 ba pa1 b--gray dib" type="text" name="email">
          {{/if}}
      </td>
    </tr>
    <tr>
      <td class="w-20 dark-text f4 b ph3 pb2 pt0 tr">{{localText.formImageUrl}}</td>
      <td class="w-70">
          {{#if place.imageUrl}}
            <input class="input-reset w-70 br2 ba pa1 b--gray" type="text" name="imageUrl" value="{{place.imageUrl}}" placeholder="{{localText.formImageUrl}}">
          {{else}}
            <input class="input-reset w-70 br2 ba pa1 b--gray dib" type="text" name="imageUrl" placeholder="{{localText.formImageUrl}}">
          {{/if}}
      </td>
    </tr>
    <tr>
      <td class="tr pb3 pl4 pt0"></td>
      <td class="">
        <span class="b dark-text">OR</span>
      </td>
    </tr>
    <tr>
      <td class="w-20 dark-text f4 b ph3 pb3 pt0 tr">{{localText.formImage}}</td>
      <td class="w-70">
          <input type="hidden" id="hiddenFileInput" name="s3Url">
          <div class="flex">
            <input type="file" class="input-reset w-60 br2 ba pa1 b--gray dib" accept="image/jpeg,image/x-png" id="placeImageInput">
            <div id="spinner" class="dn mh2"></div>
          </div>
          <img src="" id="imagePreview" class="w-10 h-10 dn pa1" alt="Your uploaded image">
          <span id="fileErrorMessage" class="dib red"></span>
      </td>
    </tr>
    <tr>
      <td class="w-20 dark-text f4 b pa3 tr">{{localText.accessibilityOptions}}
      </td>
      <td><table><tr>

          {{#each localText.accOptions}}
            <td class="flex items-center mb2">
              <input class="mr2" id="{{getKey this ../lang}}" type="checkbox" name="accessibility" value="{{this.en}}" {{checkOptionsValue ../place.accessibilityOptions (getKey this 'en')}}>
              <label  for="{{getKey this ../lang}}" class="light-text">{{getKey this ../lang}}</label>
            </td>
          {{/each}}

        <td class="dark-text f4 b pa3">{{localText.categories}}</td>

        {{#each localText.placeCategories}}
          <td class="flex items-center mb2">
            <input class="mr2" id="{{getKey this ../lang}}" type="checkbox" name="categories" value="{{this.en}}" {{checkOptionsValue ../place.categories (getKey this 'en')}}>
            <label for="{{getKey this ../lang}}" class="light-text">{{toUpperCase (getKey this ../lang)}}</label>
          </td>
        {{/each}}

      </tr></table></td>
    </tr>
  </tbody>
</table>
<div class="w-100 tc pa4">

  <input class="f6 w4 tc grow br-pill ba bw1 b--gray pv2 dib mid-gray b bg-main" type="submit" value="{{localText.formSubmit}}">
</div>
</form>
<script src="/image-upload.js" charset="utf-8"></script>
<script src="/validate-place-form.js" charset="utf-8"></script>
