<h1 class="page-title">{{localLang.placesTitle}}</h1>

<ul>
  {{#each output}}
    <li class="place-wrap">
      <img class="place-wrap__image" src="{{imageUrl}}" alt="{{../localLang.placesImage}}">
      <div class="place-wrap__info">
        <span class="place-wrap__span">{{local.name}}</span>
        {{#if local.description}}
          <span class="place-wrap__span">{{local.description}}</span>
        {{/if}}
        {{#if local.address}}
          <span class="place-wrap__span">{{local.address}}</span>
        {{/if}}
      </div>
      <div class="place-wrap__links">
        <a href="/place/{{_id}}">{{../localLang.placesView}}</a>
        <a href="#">{{../localLang.placesEdit}}</a>
      </div>
    </li>
  {{/each}}
</ul>
