
<ul>
  <h1 class="page-title">{{localText.placesTitle}}</h1>
  <div class="places_links">
    <a href="/{{../lang}}/add-place">{{localText.placesAdd}}</a><a href="{{../lang}}/edit-place">{{localText.placesEdit}}</a>
  </a>
  {{#each output}}
    <li class="place-wrap">
      <img class="place-wrap__image" src="{{imageUrl}}" alt="{{../localLang.placesImage}}">
      <div class="place-wrap__info">
        <span class="place-wrap__span">{{local.name}}</span>
        {{#if local.description}}
          <span class="place-wrap__span">{{local.description}}</span>
        {{/if}}
        {{#if local.address}}
          <span class="place-wrap__span">{{local.address}}</span>
        {{/if}}
      </div>
      <div class="place-wrap__links">
        <a href="/{{../lang}}/place/{{_id}}">{{../localText.placesView}}</a>
        <a href="/{{../lang}}/edit">{{../localText.placesEdit}}</a>
      </div>
    </li>
  {{/each}}
</ul>
