  {{#if edit}}
    <form class="add-form" action="/{{lang}}/edit-place/{{place._id}}" method="post">
      <h1>{{localText.placesEdit}}</h1>
      <input type="hidden" name="_method" value="put">
  {{else}}
    <form class="add-form" action="/{{lang}}/add-place" method="post">
      <h1>{{localText.placesAdd}}</h1>
      <input type="hidden" name="_method" value="post">
  {{/if}}

  <label>{{localText.placeName}}
    {{#if place.local.name}}
      <input type="text" name="name" required value="{{place.local.name}}">
    {{else}}
      <input type="text" name="name" required>
    {{/if}}
  </label>


  <label>{{localText.placeDescription}}
    {{#if place.local.description}}
      <input type="text" name="description" required value="{{place.local.description}}">
    {{else}}
      <input type="text" name="description" required>
    {{/if}}
  </label>

  <label>{{localText.placeAddress}}
    {{#if place.local.address}}
      <input type="text" name="address" required value="{{place.local.address}}">
    {{else}}
      <input type="text" name="address" required>
    {{/if}}
  </label>

  <label>{{localText.placeHours}}
    {{#if place.local.openingHours}}
      <input type="text" name="openingHours" required value="{{place.local.openingHours}}">
    {{else}}
      <input type="text" name="openingHours" required>
    {{/if}}
  </label>

  <label>{{localText.formOwnerId}}
    {{#if place.ownerId}}
      <input type="text" name="ownerId" value="{{place.ownerId}}">
    {{else}}
      <input type="text" name="ownerId">
    {{/if}}
  </label>

  <label>{{localText.formImageUrl}}
    {{#if place.imageUrl}}
      <input type="text" name="imageUrl" value="{{place.imageUrl}}">
    {{else}}
      <input type="text" name="imageUrl">
    {{/if}}
  </label>

  <label>{{localText.placeWebsite}}
    {{#if place.placeWebsite}}
      <input type="text" name="website" value="{{localText.placeWebsite}}">
    {{else}}
      <input type="text" name="website">
    {{/if}}
  </label>

  <label>{{localText.placePhone}}
    {{#if place.phone}}
      <input type="number" name="phone" value="{{place.phone}}">
    {{else}}
      <input type="number" name="phone" required>
    {{/if}}
  </label>

  <label>{{localText.placeEmail}}
    {{#if place.email}}
      <input type="email" name="email" value="{{place.email}}">
    {{else}}
      <input type="email" name="email" required>
    {{/if}}
  </label>

  <fieldset>
    <legend>{{localText.placeAccessibility}}</legend>
    <div>
      <label for="audio-recordings">{{localText.audioRecordings}}</label>
      <input id="audio-recordings" type="checkbox" name="accessibility" value="Audio recordings" {{checkOptions place.accessibilityOptions "Audio recordings"}}>
    </div>
    <div>
      <label for="braille">{{localText.brailleMenu}}</label>
      <input id="braille" type="checkbox" name="accessibility" value="Braille" {{checkOptions place.accessibilityOptions "Braille"}}>
    </div>
    <div>
      <label for="big-fonts">{{localText.bigFonts}}</label>
      <input id="big-fonts" type="checkbox" name="accessibility" value="Big fonts" {{checkOptions place.accessibilityOptions "Big fonts"}}>
    </div>
    <div>
      <label for="carer">{{localText.carer}}</label>
      <input id="carer" type="checkbox" name="accessibility" value="carer" {{checkOptions place.accessibilityOptions "Carer"}}>
    </div>
    <div>
      <label for="guide-dog">{{localText.guideDog}}</label>
      <input id="guide-dog" type="checkbox" name="accessibility" value="Place for a guide dog" {{checkOptions place.accessibilityOptions "Place for a guide dog"}}>
    </div>
    <div>
      <label for="sms-message">{{localText.smsMessaging}}</label>
      <input id="sms-message" type="checkbox" name="accessibility" value="SMS messaging" {{checkOptions place.accessibilityOptions "SMS messaging"}}>
    </div>
    <div>
      <label for="sign-lang">{{localText.signLang}}</label>
      <input id="sign-lang" type="checkbox" name="accessibility" value="Sign language" {{{checkOptions place.accessibilityOptions "Sign language"}}}>
    </div>
    <div>
      <label for="good-lighting">{{localText.goodLighting}}</label>
      <input id="good-lighting" type="checkbox" name="accessibility" value="Good lighting" {{checkOptions place.accessibilityOptions "Good lighting"}}>
    </div>
    <div>
      <label for="wheelchair">{{localText.wheelchairFriendly}}</label>
      <input id="wheelchair" type="checkbox" name="accessibility" value="Wheelchair access" {{checkOptions place.accessibilityOptions "Wheelchair access"}}>
    </div>
    <div>
      <label for="disabled-parking">{{localText.disabledParking}}</label>
      <input id="disabled-parking" type="checkbox" name="accessibility" value="Disabled parking" {{checkOptions place.accessibilityOptions "Disabled parking"}}>
    </div>
    <div>
      <label for="disabled-toilets">{{localText.disabledToilet}}</label>
      <input id="disabled-toilets" type="checkbox" name="accessibility" value="Disabled toilets" {{checkOptions place.accessibilityOptions "Disabled parking"}}>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localText.placeCategories}}</legend>
    <div>
      <label for="cafe">{{localText.cafe}}</label>
      <input id="cafe" type="checkbox" name="categories" value="cafe" {{checkOptions place.categories "cafe"}}>
    </div>
    <div>
      <label for="music-venue">{{localText.musicVenue}}</label>
      <input id="music-venue" type="checkbox" name="categories" value="music venue" {{checkOptions place.categories "music venue"}}>
    </div>
    <div>
      <label for="religios-site">{{localText.religiousSite}}</label>
      <input id="religios-site" type="checkbox" name="categories" value="religious site" {{checkOptions place.categories "religious site"}}>
    </div>
    <div>
      <label for="restaurant">{{localText.restaurant}}</label>
      <input id="restaurant" type="checkbox" name="categories" value="food and drink" {{checkOptions place.categories "restaurant"}}>
    </div>
    <div>
      <label for="education">{{localText.education}}</label>
      <input id="education" type="checkbox" name="categories" value="education" {{checkOptions place.categories "education"}}>
    </div>
    <div>
      <label for="retail">{{localText.retail}}</label>
      <input id="retail" type="checkbox" name="categories" value="retail" {{checkOptions place.categories "retail"}}>
    </div>
    <div>
      <label for="sport">{{localText.sport}}</label>
      <input id="sport" type="checkbox" name="categories" value="sport" {{checkOptions place.categories "sport"}}>
    </div>
    <div>
      <label for="municipal">{{localText.municipal}}</label>
      <input id="municipal" type="checkbox" name="categories" value="municipal" {{checkOptions place.categories "municipal"}}>
    </div>
    <div>
      <label for="healthcare">{{localText.healthcare}}</label>
      <input id="healthcare" type="checkbox" name="categories" value="healthcare" {{checkOptions place.categories "healthcare"}}>
    </div>
  </fieldset>

  <input type="submit" value="{{localText.formSubmit}}">
</form>
