
<ul class="specific-place">
  <div class="place_wrap_buttons">
    <a href="/">{{localText.homePage}}</a>
    <a href="/{{lang}}/places">{{localText.backList}}</a>
  </div>
  <div>
    <img src="{{place.imageUrl}}" alt="place image">
  </div>
  <li>{{localText.name}}:
    {{place.local.name}}
  </li>

  <li>{{localText.description}}:
    {{place.local.description}}
  </li>

  <li>{{localText.placeAddress}}:
    {{place.local.address}}
  </li>

  <li>{{localText.placeHours}}:
    {{place.local.openingHours}}
  </li>

  <li>{{localText.placeWebsite}}:
    <a href="{{place.website}}">{{localText.viewWebsite}}</a>
  </li>

  <li>{{localText.placePhone}}:
    {{place.phone}}
  </li>

  <li>{{localText.placeEmail}}:
    {{place.email}}
  </li>

  <li>{{localText.accessibilityOptions}}:
    {{place.accessibilityOptions}}
  </li>

  <li>{{localText.categories}}:
    {{place.categories}}
  </li>
  <div id="map" data-loc="{{place.location}}"></div>
  <div class="place_wrap_buttons">
    <a href="/{{lang}}/edit-place/{{place._id}}">{{localText.edit}}</a>
    <a href="/{{lang}}/delete-place/{{place._id}}">{{localText.delete}}</a>
  </div>
</ul>


<script type="text/javascript" src="/map.js"></script>
<script type="text/javascript" src={{{getMapLink}}}></script>
