{{>header}}
{{>options}}

{{#if edit}}
  <form class="" action="/{{lang}}/edit-place/{{place._id}}" method="post">
    <input type="hidden" name="_method" value="put">
{{else}}
  <form class="" action="/{{lang}}/add-place" method="post">
    <input type="hidden" name="_method" value="post">
{{/if}}

<table class="w-100 mw8 center bb b--turquoise bw2">
  <tbody>
    <tr>
      <th class=" dark-text f4 b pa3 tr">{{localText.name}}</th>
      <th class="w5">
          {{#if place.en.name}}
            <input class="input-reset w5 br2 ba b--gray" type="text" name="name_en" value="{{place.en.name}}">
          {{else}}
            <input class="input-reset w5 br2 ba b--gray dib" type="text" name="name_en" placeholder="{{localText.english}}">
          {{/if}}
      </th>
    </tr>
    <tr>
        <td></td>
        <td class="">
          {{#if place.ar.name}}
            <input class="input-reset w-100 br2 ba b--gray" type="text" name="name_ar" value="{{place.ar.name}}">
          {{else}}
            <input class="input-reset w-100 br2 ba b--gray dib" type="text" name="name_ar" placeholder="{{localText.arabic}}">
          {{/if}}
        </td>
    </tr>
    <tr>
      <th class=" dark-text f4 b pa3 tr">{{localText.description}}</th>
      <th class="w5">
          {{#if place.en.description}}
            <input class="input-reset w5 br2 ba b--gray" type="text" name="description_en" value="{{place.en.description}}">
          {{else}}
            <input class="input-reset w5 br2 ba b--gray dib" type="text" name="descriptiondescription_en" placeholder="{{localText.english}}">
          {{/if}}
      </th>
    </tr>
    <tr>
        <td></td>
        <td class="">
          {{#if place.ar.description}}
            <input class="input-reset w-100 br2 ba b--gray" type="text" name="description_ar" value="{{place.ar.description}}">
          {{else}}
            <input class="input-reset w-100 br2 ba b--gray dib" type="text" name="description_ar" placeholder="{{localText.arabic}}">
          {{/if}}
        </td>
    </tr>
    <tr>
      <th class=" dark-text f4 b pa3 tr">{{localText.placeAddress}}</th>
      <th class="w5">
          {{#if place.en.address}}
            <input class="input-reset w5 br2 ba b--gray" type="text" name="address_en" value="{{place.en.address}}">
          {{else}}
            <input class="input-reset w5 br2 ba b--gray dib" type="text" name="address_en" placeholder="{{localText.english}}">
          {{/if}}
      </th>
    </tr>
    <tr>
        <td></td>
        <td class="">
          {{#if place.ar.address}}
            <input class="input-reset w-100 br2 ba b--gray" type="text" name="address_ar" value="{{place.ar.address}}">
          {{else}}
            <input class="input-reset w-100 br2 ba b--gray dib" type="text" name="address_ar" placeholder="{{localText.arabic}}">
          {{/if}}
        </td>
    </tr>
    <tr>
      <th class=" dark-text f4 b pa3 tr">{{localText.placeHours}}</th>
      <th class="w5">
          {{#if place.en.openingHours}}
            <input class="input-reset w5 br2 ba b--gray" type="text" name="openingHours_en" value="{{place.en.openingHours}}">
          {{else}}
            <input class="input-reset w5 br2 ba b--gray dib" type="text" name="openingHours_en" placeholder="{{localText.english}}">
          {{/if}}
      </th>
    </tr>
    <tr>
        <td></td>
        <td class="">
          {{#if place.ar.openingHours}}
            <input class="input-reset w-100 br2 ba b--gray" type="text" name="openingHours_ar" value="{{place.ar.openingHours}}">
          {{else}}
            <input class="input-reset w-100 br2 ba b--gray dib" type="text" name="openingHours_ar" placeholder="{{localText.arabic}}">
          {{/if}}
        </td>
    </tr>
    <tr>
      <th class=" dark-text f4 b pa3 tr">{{localText.placeWebsite}}</th>
      <th class="w5">
          {{#if place.website}}
            <input class="input-reset w5 br2 ba b--gray" type="text" name="website" value="{{place.website}}">
          {{else}}
            <input class="input-reset w5 br2 ba b--gray dib" type="text" name="website">
          {{/if}}
      </th>
    </tr>
    <tr>
      <th class=" dark-text f4 b pa3 tr">{{localText.placeEmail}}</th>
      <th class="w5">
          {{#if place.email}}
            <input class="input-reset w5 br2 ba b--gray" type="text" name="email" value="{{place.email}}">
          {{else}}
            <input class="input-reset w5 br2 ba b--gray dib" type="text" name="email">
          {{/if}}
      </th>
    </tr>
    <tr>
      <th class=" dark-text f4 b pa3 tr">{{localText.formImageUrl}}</th>
      <th class="w5">
          {{#if place.imageUrl}}
            <input class="input-reset w5 br2 ba b--gray" type="text" name="imageUrl" value="{{place.imageUrl}}">
          {{else}}
            <input class="input-reset w5 br2 ba b--gray dib" type="text" name="imageUrl">
          {{/if}}
      </th>
    </tr>
    <tr>
      <th class=" dark-text f4 b pa3 tr">{{localText.accessibilityOptions}}</th>
      <th class="flex items-start mb2">
      <th class="flex items-center mb2">
        <input class="mr2" id="braille" type="checkbox" name="accessibility" value="Braille" {{checkOptionsValue place.accessibilityOptions "Braille"}}>
        <label for="braille" class="light-text">{{localText.brailleMenu}}</label>
      </th>
        <th class="flex items-center mb2">
          <input class="mr2" id="audio-recordings" type="checkbox" name="accessibility" value="audio-recordings" {{checkOptionsValue place.accessibilityOptions "audio-recordings"}}>
          <label for="audio-recordings" class="light-text">{{localText.audioRecordings}}</label>
        </th>
        <th class="flex items-center mb2">
          <input class="mr2" id="big-fonts" type="checkbox" name="accessibility" value="Big fonts" {{checkOptionsValue place.accessibilityOptions "Big fonts"}}>
          <label for="big-fonts" class="light-text">{{localText.bigFonts}}</label>
        </th>
        <th class="flex items-center mb2">
          <input class="mr2" id="carer" type="checkbox" name="accessibility" value="carer" {{checkOptionsValue place.accessibilityOptions "Carer"}}>
          <label for="carer" class="light-text">{{localText.carer}}</label>
        </th>
        <th class="flex items-center mb2">
          <input class="mr2" id="guide-dog" type="checkbox" name="accessibility" value="Place for guide dog" {{checkOptionsValue place.accessibilityOptions "Place for guide dog"}}>
          <label for="guide-dog" class="light-text">{{localText.guideDog}}</label>
        </th>
        <th class="flex items-center mb2">
          <input class="mr2" id="sms-message" type="checkbox" name="accessibility" value="SMS messaging" {{checkOptionsValue place.accessibilityOptions "SMS messaging"}}>
          <label for="sms-message" class="light-text">{{localText.smsMessaging}}</label>
        </th>
        <th class="flex items-center mb2">
          <input class="mr2" id="sign-lang" type="checkbox" name="accessibility" value="Sign language" {{{checkOptionsValue place.accessibilityOptions "Sign language"}}}>
          <label for="sign-lang" class="light-text">{{localText.signLang}}</label>
        </th>
        <th class="flex items-center mb2">
          <input class="mr2" id="good-lighting" type="checkbox" name="accessibility" value="Good lighting" {{checkOptionsValue place.accessibilityOptions "Good lighting"}}>
          <label for="good-lighting" class="light-text">{{localText.goodLighting}}</label>
        </th>
      </th>
    </fieldset>


    </tr>
    <tr>
      <td class="dark-text f4 b pa3 tr">{{localText.accessibilityOptions}}</td>
      <td class="">

        <th>
          <label for="sign-lang" class="light-text">{{localText.signLang}}</label>
          <input id="sign-lang" type="checkbox" name="accessibility" value="Sign language" {{{checkOptionsValue place.accessibilityOptions "Sign language"}}}>
          <label for="good-lighting" class="light-text">{{localText.goodLighting}}</label>
          <input id="good-lighting" type="checkbox" name="accessibility" value="Good lighting" {{checkOptionsValue place.accessibilityOptions "Good lighting"}}>
        </th>
        <th>
          <label for="wheelchair" class="light-text">{{localText.wheelchairFriendly}}</label>
          <input id="wheelchair" type="checkbox" name="accessibility" value="Wheelchair access" {{checkOptionsValue place.accessibilityOptions "Wheelchair access"}}>
          <label for="disabled-parking" class="light-text">{{localText.disabledParking}}</label>
          <input id="disabled-parking" type="checkbox" name="accessibility" value="Disabled parking" {{checkOptionsValue place.accessibilityOptions "Disabled parking"}}>
        </th>
        <th>
          <label for="disabled-toilets" class="light-text">{{localText.disabledToilet}}</label>
          <input id="disabled-toilets" type="checkbox" name="accessibility" value="Disabled toilets" {{checkOptionsValue place.accessibilityOptions "Disabled toilets"}}>
        </th>
      </td>
    </tr>
    <tr>
      <td class="dark-text f4 b pa3 tr">{{localText.categories}}</td>
      <td class="">
        <th>
          <label for="cafe" class="light-text">{{localText.cafe}}</label>
          <input id="cafe" type="checkbox" name="categories" value="cafe" {{checkOptionsValue place.categories "cafe"}}>
          <label for="music-venue" class="light-text">{{localText.musicVenue}}</label>
          <input id="music-venue" type="checkbox" name="categories" value="music venue" {{checkOptionsValue place.categories "music venue"}}>
        </th>
        <th>
          <label for="religios-site" class="light-text">{{localText.religiousSite}}</label>
          <input id="religios-site" type="checkbox" name="categories" value="religious site" {{checkOptionsValue place.categories "religious site"}}>
          <label for="restaurant" class="light-text">{{localText.restaurant}}</label>
          <input id="restaurant" type="checkbox" name="categories" value="food and drink" {{checkOptionsValue place.categories "restaurant"}}>
        </th>
        <th>
          <label for="education" class="light-text">{{localText.education}}</label>
          <input id="education" type="checkbox" name="categories" value="education" {{checkOptionsValue place.categories "education"}}>
          <label for="retail" class="light-text">{{localText.retail}}</label>
          <input id="retail" type="checkbox" name="categories" value="retail" {{checkOptionsValue place.categories "retail"}}>
        </th>
        <th>
          <label for="sport" class="light-text">{{localText.sport}}</label>
          <input id="sport" type="checkbox" name="categories" value="sport" {{checkOptionsValue place.categories "sport"}}>
          <label for="municipal" class="light-text">{{localText.municipal}}</label>
          <input id="municipal" type="checkbox" name="categories" value="municipal" {{checkOptionsValue place.categories "municipal"}}>
        </th>
        <th>
          <label for="healthcare" class="light-text">{{localText.healthcare}}</label>
          <input id="healthcare" type="checkbox" name="categories" value="healthcare" {{checkOptionsValue place.categories "healthcare"}}>
        </th>
      </td>
    </tr>
  </tbody>
</table>
<input class="f6 w4 tc grow br-pill ba bw1 b--gray pv2 dib mid-gray b bg-main" type="submit" value="{{localText.formSubmit}}">
  </form>
