<ul class="specific-place">
  <li>{{localLang.placeName}}:
    {{place.local.name}}
  </li>

  <li>{{localLang.placeDescription}}:
    {{place.local.description}}
  </li>

  <li>{{localLang.placeAddress}}:
    {{place.local.address}}
  </li>

  <li>{{localLang.placeHours}}:
    {{place.local.openingHours}}
  </li>

  <li>{{localLang.placeLocation}}:
    {{place.location}}
  </li>

  <li>{{localLang.placeImage}}:
    <a href="{{place.imageUrl}}">View</a>
  </li>

  <li>{{localLang.placeWebsite}}:
    <a href="{{place.website}}">View</a>
  </li>

  <li>{{localLang.placePhone}}:
    {{place.phone}}
  </li>

  <li>{{localLang.placeEmail}}:
    {{place.email}}
  </li>

  <li>{{localLang.placeAccessibility}}:
    {{place.accessibilityOptions}}
  </li>

  <li>{{localLang.placeCategories}}:
    {{place.categories}}
  </li>
</ul>

<a href="/{{lang}}/edit/{{place._id}}">{{localLang.placesEdit}}</a>
