<ul>
  <h1 class="page-title">{{localText.placesTitle}}</h1>
  <div class="places_links">
    <a href="/{{lang}}/add-place">{{localText.placesAdd}}</a>
  {{#each places}}
    <li class="place-wrap">
      <img class="place-wrap__image" src="{{this.imageUrl}}" alt="{{localtext.placesImage}}">
      <div class="place-wrap__info">
        <span class="place-wrap__span">{{this.local.name}}</span>
        {{#if this.local.description}}
          <span class="place-wrap__span">{{this.local.description}}</span>
        {{/if}}
        {{#if this.local.address}}
          <span class="place-wrap__span">{{this.local.address}}</span>
        {{/if}}
      </div>
      <div class="place-wrap__links">
        <a href="/{{../lang}}/place/{{_id}}">{{../localText.placesView}}</a>
        <a href="/{{../lang}}/edit-place/{{_id}}">{{../localText.placesEdit}}</a>
      </div>
    </li>
  {{/each}}
</ul>
