<form class="add-form" action="/{{lang}}/add-place" method="post">
  <h1>{{localText.placesAdd}}</h1>
  <label>{{localText.placeName}}
    <input type="text" name="name" required>
  </label>

  <label>{{localText.placeDescription}}
    <input type="text" name="description" required>
  </label>

  <label>{{localText.placeAddress}}
    <input type="text" name="address" required>
  </label>

  <label>{{localText.placeHours}}
    <input type="text" name="openingHours" required>
  </label>

  <label>{{localText.formOwnerId}}
    <input type="text" name="ownerId">
  </label>

  <label>{{localText.formImageUrl}}
    <input type="text" name="imageUrl">
  </label>

  <label>{{localText.placeWebsite}}
    <input type="text" name="website">
  </label>

  <label>{{localText.placePhone}}
    <input type="number" name="phone" required>
  </label>

  <label>{{localText.placeEmail}}
    <input type="email" name="email" required>
  </label>

  <fieldset>
    <legend>{{localText.placeAccessibility}}</legend>
    <div>
      <label for="audio-recordings">{{localText.audioRecordings}}</label>
      <input id="audio-recordings" type="checkbox" name="accessibility" value="Audio recordings">
    </div>
    <div>
      <label for="braille">{{localText.brailleMenu}}</label>
      <input id="braille" type="checkbox" name="accessibility" value="Braille">
    </div>
    <div>
      <label for="big-fonts">{{localText.bigFonts}}</label>
      <input id="big-fonts" type="checkbox" name="accessibility" value="Big fonts">
    </div>
    <div>
      <label for="carer">{{localText.carer}}</label>
      <input id="carer" type="checkbox" name="accessibility" value="carer">
    </div>
    <div>
      <label for="guide-dog">{{localText.guideDog}}</label>
      <input id="guide-dog" type="checkbox" name="accessibility" value="Place for a guide dog">
    </div>
    <div>
      <label for="sms-message">{{localText.smsMessaging}}</label>
      <input id="sms-message" type="checkbox" name="accessibility" value="SMS messaging">
    </div>
    <div>
      <label for="sign-lang">{{localText.signLang}}</label>
      <input id="sign-lang" type="checkbox" name="accessibility" value="Sign languge">
    </div>
    <div>
      <label for="good-lighting">{{localText.goodLighting}}</label>
      <input id="good-lighting" type="checkbox" name="accessibility" value="Good lighting">
    </div>
    <div>
      <label for="wheelchair">{{localText.wheelchairFriendly}}</label>
      <input id="wheelchair" type="checkbox" name="accessibility" value="WheelChair access">
    </div>
    <div>
      <label for="disabled-parking">{{localText.disabledParking}}</label>
      <input id="disabled-parking" type="checkbox" name="accessibility" value="Disabled parking">
    </div>
    <div>
      <label for="disabled-toilets">{{localText.disabledToilet}}</label>
      <input id="disabled-toilets" type="checkbox" name="accessibility" value="Disabled toilets">
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localText.placeCategories}}</legend>
    <div>
      <label for="cafe">{{localText.cafe}}</label>
      <input id="cafe" type="checkbox" name="categories" value="cafe">
    </div>
    <div>
      <label for="music-venue">{{localText.musicVenue}}</label>
      <input id="music-venue" type="checkbox" name="categories" value="music venue">
    </div>
    <div>
      <label for="religios-site">{{localText.religiousSite}}</label>
      <input id="religios-site" type="checkbox" name="categories" value="religious site">
    </div>
    <div>
      <label for="restaurant">{{localText.restaurant}}</label>
      <input id="restaurant" type="checkbox" name="categories" value="food and drink">
    </div>
    <div>
      <label for="education">{{localText.education}}</label>
      <input id="education" type="checkbox" name="categories" value="education">
    </div>
    <div>
      <label for="retail">{{localText.retail}}</label>
      <input id="retail" type="checkbox" name="categories" value="retail">
    </div>
    <div>
      <label for="sport">{{localText.sport}}</label>
      <input id="sport" type="checkbox" name="categories" value="sport">
    </div>
    <div>
      <label for="municipal">{{localText.municipal}}</label>
      <input id="municipal" type="checkbox" name="categories" value="municipal">
    </div>
    <div>
      <label for="healthcare">{{localText.healthcare}}</label>
      <input id="healthcare" type="checkbox" name="categories" value="healthcare">
    </div>
  </fieldset>

  <input type="submit" value="{{localText.formSubmit}}">
</form>
