<ul>
  <h1 class="">{{localText.placesTitle}}</h1>
  <div class="">
    <a href="/{{lang}}/add-place">{{localText.add}}</a>
  {{#each places}}
    <li class="">
      <img class="" src="{{this.imageUrl}}" alt="{{localtext.image}}">
      <div class="">
        <span class="">{{this.local.name}}</span>
        {{#if this.local.description}}
          <span class="">{{this.local.description}}</span>
        {{/if}}
        {{#if this.local.address}}
          <span class="">{{this.local.address}}</span>
        {{/if}}
      </div>
      <div class="">
        <a href="/{{../lang}}/place/{{_id}}">{{../localText.view}}</a>
        <a href="/{{../lang}}/edit-place/{{_id}}">{{../localText.edit}}</a>
        <a href="/{{../lang}}/delete-place/{{_id}}">{{../localText.delete}}</a>
      </div>
    </li>
  {{/each}}
</ul>
