<form class="add-form" action="/{{lang}}/add-place" method="post">
  <label>{{localLang.placeName}}
    <input type="text" name="name" required>
  </label>

  <label>{{localLang.placeDescription}}
    <input type="text" name="description">
  </label>

  <label>{{localLang.placeAddress}}
    <input type="text" name="address">
  </label>

  <label>{{localLang.placeHours}}
    <input type="text" name="openingHours">
  </label>

  <label>{{localLang.formOwnerId}}
    <input type="text" name="ownerId">
  </label>

  <label>{{localLang.formImageUrl}}
    <input type="text" name="imageUrl">
  </label>

  <label>{{localLang.placeWebsite}}
    <input type="text" name="website">
  </label>

  <label>{{localLang.placePhone}}
    <input type="number" name="phone">
  </label>

  <label>{{localLang.placeEmail}}
    <input type="email" name="email">
  </label>

  <label>{{localLang.placeAccessibility}}
    <select name="accessibility" multiple>
      <option value="{{localLang.brailleMenu}}">{{localLang.brailleMenu}}</option>
      <option value="{{localLang.wheelchairFriendly}}">{{localLang.wheelchairFriendly}}</option>
    </select>
  </label>

  <label>{{localLang.placeCategories}}
    <select name="categories" multiple>
      <option value="{{localLang.cafe}}">{{localLang.cafe}}</option>
      <option value="{{localLang.restaurant}}">{{localLang.restaurant}}</option>
    </select>
  </label>

  <input type="submit" value="{{localLang.formSubmit}}">
</form>
