
<ul class="specific-place">
  <div>
    <img src="{{place.imageUrl}}" alt="place image">
  </div>
  <li>{{localText.placeName}}:
    {{place.local.name}}
  </li>

  <li>{{localText.placeDescription}}:
    {{place.local.description}}
  </li>

  <li>{{localText.placeAddress}}:
    {{place.local.address}}
  </li>

  <li>{{localText.placeHours}}:
    {{place.local.openingHours}}
  </li>

  <li>{{localText.placeWebsite}}:
    <a href="{{place.website}}">View</a>
  </li>

  <li>{{localText.placePhone}}:
    {{place.phone}}
  </li>

  <li>{{localText.placeEmail}}:
    {{place.email}}
  </li>

  <li>{{localText.placeAccessibility}}:
    {{place.accessibilityOptions}}
  </li>

  <li>{{localText.placeCategories}}:
    {{place.categories}}
  </li>
  <div id="map" data-loc="{{place.location}}"></div>

  <a class="place_edit_link" href="/{{lang}}/edit/{{place._id}}">{{localText.placesEdit}}</a>
</ul>


<script type="text/javascript" src="/map.js"></script>
<script type="text/javascript" src={{{getMapLink}}}></script>
